* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png');
  background-size: auto 100vh;
  font-family: 'roboto', sans-serif;
  height: 100vh;
}

@media (min-widht: 400px) {
  body{
    font-size: 14px;
  }
}

@media (min-width: 600px) {
  body{
    font-size: 22px;
  }
}

header{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.menu{
  background-color: white;
  position: fixed;
  width: 100vw;
  top: 0;
}

.footer a,
.menu a{
  color: #001f3f;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
}

a:hover{
  text-decoration: underline;
}

.menu ul{
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none; 
}

.site-title,
.site-subtitle{
  color: #311b92;
  text-align: center;
}

.site-title{
  font-size: 3em;
  font-family: 'roboto', sans-serif;
}

.site-subtitle{
  font-family: 'roboto', sans-serif;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
  font-size: 2em;  
  line-height: 2.4em;
}

.portfolio h2{
  font-family: 'roboto', sans-serif;
}

.img-portfolio{
  height: 180px;
  width: 180px;
}

.footer{
  background: #839cc4;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer a{
  color: #001f3f;
}